*
!.gitignore
!.gitconfig

!.config/
!.config/i3/
!.config/i3/config
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/gtk-4.0/
!.config/gtk-4.0/settings.ini
!.config/fish/
!.config/fish/config.fish
!.config/lf/
!.config/lf/lfrc
!.config/polybar/
!.config/polybar/config.ini
!.config/polybar/launch.sh
!.config/chromium-flags.conf

!.Xresources
!.xinitrc