*
!.gitignore
!.gitconfig
!README.md

!.config/
!.config/i3/
!.config/i3/config
!.config/autorandr/
!.config/autorandr/**
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/gtk-4.0/
!.config/gtk-4.0/settings.ini
!.config/fish/
!.config/fish/config.fish
!.config/lf/
!.config/lf/lfrc
!.config/polybar/
!.config/polybar/config.ini
!.config/polybar/launch.sh
!.config/dunst/
!.config/dunst/dunstrc
!.config/proxy/
!.config/chromium-flags.conf
!.config/logind.conf
!.config/picom.conf

!.local/
!.local/share/
!.local/share/applications/
!.local/share/applications/microsoft-edge.desktop

!.Xresources
!.xinitrc

!.ssh/
!.ssh/config